{% extends "main/layout.html" %}
{% load static %}

{% block title %}`
    Новости
{% endblock %}

{% block content %}
<div class="article-container">
    <h1 class="article-title">{{ news_item.title }}</h1>
    <p class="article-date">📅 {{ news_item.published_date }}</p>
    <div class="article-content">
        {{ news_item.content }}
    </div>

    <div class="article-actions">
        <a href="{% url 'news_update' news_item.id %}" class="btn btn-edit">✏️ Изменить</a>
        <a href="{% url 'news_delete' news_item.id %}" class="btn btn-delete">🗑 Удалить</a>
        <a href="{% url 'news_home' %}" class="btn btn-back">⬅ Назад</a>
    </div>
</div>
{% endblock %}
