{% extends "main/layout.html" %}
{% load static %}

{% block title %}
    Новости
{% endblock %}

{% block content %}
    <h1 class="news-title">Новости</h1>
    <div class="news-container">
        {% for item in news %}
            <a href="{% url 'news_detail' item.id %}" class="news-item-link">
                <div class="news-item">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.content }}</p>
                    <p class="news-date">📅 {{ item.published_date }}</p>
                </div>
            </a>
        {% empty %}
            <p class="no-news">Новостей нет.</p>
        {% endfor %}
    </div>
{% endblock %}

